on: [push]
name: Linux_Container_Workflow

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        steps:
        # checkout the repo
        - name: 'Checkout GitHub Action'
          uses: actions/checkout@main
          
        - name: 'Login via Azure CLI'
          uses: azure/login@v1
          with:
            creds: ${{ secrets.AZURE_CREDENTIALS }}
        
        - name: 'Build and push image'
          uses: azure/docker-login@v1
          with:
            login-server: ${{ secrets.REGISTRY_LOGIN_SERVER }}
            username: ${{ secrets.REGISTRY_USERNAME }}
            password: ${{ secrets.REGISTRY_PASSWORD }}
        - run: |
            docker build . -t ${{ secrets.REGISTRY_LOGIN_SERVER }}/electroplanetazure:${{ github.sha }}
            docker push ${{ secrets.REGISTRY_LOGIN_SERVER }}/electroplanetazure:${{ github.sha }}

        - name: 'Deploy to Azure Container Instances'
          uses: 'azure/aci-deploy@v1'
          with:
            resource-group: ${{ secrets.RESOURCE_GROUP }}
            dns-name-label: ${{ secrets.RESOURCE_GROUP }}${{ github.run_number }}
            image: ${{ secrets.REGISTRY_LOGIN_SERVER }}/electroplanetazure:${{ github.sha }}
            registry-login-server: ${{ secrets.REGISTRY_LOGIN_SERVER }}
            registry-username: ${{ secrets.REGISTRY_USERNAME }}
            registry-password: ${{ secrets.REGISTRY_PASSWORD }}
            name: aci-electrop
            location: 'west us'
            
        #- name: Azure Login
          #uses: azure/login@v1
          #with:
            #creds: ${{ secrets.AZURE_CREDENTIALS }}
    
        #- name: 'Azure CLI Action'
          #uses: Azure/cli@v1          
          #with:            
            #inlineScript: |     
                #az account set --subscription b3505477-06d8-4e55-8725-094f97bf4fed
                #az webapp config set --resource-group ${{ secrets.RESOURCE_GROUP }} --name MagentoApp --linux-fx-version 'DOCKER|{{ secrets.REGISTRY_LOGIN_SERVER }}/electroplanetazure:{{ github.sha }}'
              
        - name: 'Publish Container to Webb APP'
          uses: azure/webapps-deploy@v2
          with:
            app-name: 'MagentoApp'
            #publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
            images: ${{ secrets.REGISTRY_LOGIN_SERVER }}/electroplanetazure:${{ github.sha }}'
            
